<a href="https://colab.research.google.com/github/Farmhouse121/Adventures-in-Financial-Data-Science/blob/main/Book/Section%202.4%20Interest%20Rates/Section%202.4.2.1%20The%20Distribution%20of%20Changes%20in%20Interest%20Rates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Installing yfinance and arch...")
!pip install arch 1>/dev/null
!pip install yfinance 1>/dev/null
from yfinance import download
import pandas as pd
import numpy as np ;
import matplotlib.pyplot as pl
from statsmodels.base.model import GenericLikelihoodModel
from datetime import datetime
zero,one,two,three,five,ten,hundred=0e0,1e0,2e0,3e0,5e0,1e1,1e2 # some friendly numbers
half,GoldenRatio=one/two,(one+np.sqrt(five))/two

Installing yfinance and arch...

In [ ]:
# get the recessions data (NBER data at Fred) and perform ANOVA test onto estimates of mu
USREC=pd.read_table('https://fred.stlouisfed.org/data/USREC.txt',skiprows=65,sep=r'\s+',header=0).rename(columns={"VALUE":"USREC","DATE":"Date"}).set_index("Date")
USREC.index=pd.DatetimeIndex(USREC.index).to_period('M')
USREC['year']=USREC.index.year
any=USREC.groupby('year').max().rename(columns={"USREC":("Recession","any")})
any.columns=pd.MultiIndex.from_tuples(any.columns)
results=results.merge(any,left_index=True,right_index=True)
avg=USREC.groupby('year').mean().rename(columns={"USREC":("Recession","mean")})
avg.columns=pd.MultiIndex.from_tuples(avg.columns)
results=results.merge(avg,left_index=True,right_index=True)
results[["mu","phi","Recession"]]

            mu                                       phi            \
         value    stderr      tvalue    pvalue     value    stderr
year
1928  0.213503  0.083128    2.568357  0.010218  0.045765  0.082358
1929  0.216307  0.002103  102.879108  0.000000 -0.053006  0.002125
1930  0.112788  0.091795    1.228688  0.219189 -0.106637  0.063148
1931 -0.326940  0.206822   -1.580782  0.113928 -0.132293  0.074194
1932 -0.126060  0.202750   -0.621750  0.534106  0.023043  0.062912
...        ...       ...         ...       ...       ...       ...
2019  0.134205  0.041620    3.224513  0.001262 -0.054550  0.055471
2020  0.251238  0.085197    2.948897  0.003189 -0.217395  0.097869
2021  0.131092  0.040238    3.257891  0.001122 -0.022623  0.062843
2022 -0.105474  0.099004   -1.065351  0.286717  0.024070  0.053859
2023 -0.109302  0.002684  -40.719470  0.000000 -0.347771  0.002665

                                Recession
          tvalue         pvalue       any      mean
year
1928    0.555688   5.784243e-01         0  0.000000
1929  -24.948331  2.226293e-137         1  0.333333
1930   -1.688678   9.128115e-02         1  1.000000
1931   -1.783063   7.457610e-02         1  1.000000
1932    0.366272   7.141617e-01         1  1.000000
...          ...            ...       ...       ...
2019   -0.983383   3.254188e-01         0  0.000000
2020   -2.221290   2.633131e-02         1  0.166667
2021   -0.359990   7.188543e-01         0  0.000000
2022    0.446903   6.549450e-01         0  0.000000
2023 -130.491621   0.000000e+00         0  0.000000

[96 rows x 10 columns]